/************
NAVBAR STYLES
************/

.navbar {
  height: 100px;
  width: 100%;
  background-color: rgba(124, 181, 127, 0.3);
  position: fixed;
  top: 0;
}


/***********
LOGO STYLES
************/

.logo {
  color: black;
  margin-top: 50px;
  transform: translateY(-50%);
  text-align: center;
  float: left;
}
.logo:hover {
  color: blue;
  cursor: pointer;
  margin-top: 50px;
  transform: translateY(-50%);
  text-align: center;
  transition: .3s all ease-in-out .2s;
}
