body {
    font-family:sans-serif;
    color: #0e0e06;
    background-color: rgba(132, 81, 67, 0.62);
}

.navbar li {
    display: inline-block;
    background-color:#7F4F4E;
    color:white;
    padding:10px;
}

.welcome {
    text-decoration: underline;
    color:black;
    font-family: sans-serif;
    text-align: center;
    font-size:40px;
}

.code-photo {
    max-width: 400px;
    float: left;
    margin-right:10px;
    margin-bottom:10px;
}


.fake-link {
    text-decoration: underline;
    cursor: pointer;
}

nav {
    background-color: #7F4F4E;

}

.fake-link {
    font-size:30px;
}

ul {
    font-size:20px;
}

p {
    font-size:25px
}

.list {
    display:inline-block;
    margin:0px;
}
