div {
  height: 150px;
  width: 250px;
  background-color: firebrick;
  text-align: center;
  padding-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: 15px 15px 10px;
  border-radius: 5%;
}
.hours-and-minutes {
  display: inline-block;
}

.seconds {
  display: inline-block;
}
