* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url("https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?h=350&auto=compress&cs=tinysrgb");
  background-size: cover;
  
}
