body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/90/cd/fe/90cdfed12121ca16c0d2a5245316a276.jpg");
  background-size: 1100px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}
.body-container {
  margin-top: 150px;
}
